<div class="nav-bar-container">
    <nav class="nav-bar">
        <!-- <a class="tdt-logo" href="index.html">
            <img id="responsive-logo" src="/public/icons/tdt-logo.svg" alt="Logo"  class="tdt-logo" />
        </a> -->

        <a class="logo-a-tag" href="index.html">
            <img id="responsive-logo-png" class="tdt-logo-png" src="../public/icons/tdt-logo-small-png.png" />
        </a>

        <ul class="nav-list-large-device">
            <li><a id="nav-home" class="nav-item-ld" href="index.html">Home</a></li>
            <li><a id="nav-about-us" class="nav-item-ld" href="about-us.html">About Us</a></li>
            <li><a id="nav-services" class="nav-item-ld" href="services.html">Services</a></li>
            <li> <a id="nav-portfolio" class="nav-item-ld" href="portfolio.html">Portfolio</a></li>
            <li> <a id="nav-contact-us" class="nav-item-ld" href="contact-us.html">Contact us</a></li>
        </ul>
        <img src="../public/icons/hamburger-icon-png.png" class="hamburger-icon" onclick="navOpen()" />

        <!-- <img src="public/icons/hamburger-icon.svg" class="hamburger-icon" onclick="navOpen()" /> -->
    </nav>
</div>

<div class="menu-container">
    <nav class="nav-bar-open">
        <a class="tdt-logo" href="index.html">
            <img id="responsive-logo-2" src="public/icons/tdt-logo.svg" alt="Logo" class="tdt-logo" />
        </a>
        <img src="public/icons/nav-close-icon.svg" class="hamburger-icon" onclick="navOpen()" />
    </nav>
    <ul class="nav-list-small-device">
        <li><a class="nav-item-sd" href="index.html">Home</a></li>
        <li><a class="nav-item-sd" href="about-us.html">About Us</a></li>
        <li><a class="nav-item-sd" href="services.html">Services</a></li>
        <li><a class="nav-item-sd" href="portfolio.html">Portfolio</a></li>
        <li><a class="nav-item-sd" href="contact-us.html">Contact us</a></li>
    </ul>
</div>