<div class="main-service-provide">
    <div class="service-head-container">
        <h1>
            Services we Provide
        </h1>
        <p>​We create custom web applications that help achieve your business goals and improve user experience.</p>
    </div>

    <div class="all-services-cart">
        <div class="service-cart">
            <div class="cart-content">
                <img src="public/icons/e-com-icon.svg" />
                <h1>E-Commerce Platform </h1>
                <p>We create custom e-commerce platforms that drive sales with seamless user experiences and secure payment solutions.</p>
            </div>
            <div class="vector-line-div">
            </div>
        </div>

        <div class="service-cart">
            <div class="cart-content">
                <img src="public/icons/crm-icon.svg" />
                <h1>Custom CRM Systems</h1>
                <p>Our custom CRM systems streamline customer management, boost productivity, and enhance satisfaction.</p>
            </div>
            <div class="vector-line-div md-none ld-block">
            </div>
        </div>

        <div class="service-cart">
            <div class="cart-content">
                <img src="public/icons/responsive-icon.svg" />
                <h1>Mobile-Responsive Websites</h1>
                <p>Our team crafts mobile-responsive websites that look great and function smoothly on any device.</p>
            </div>
            <div class="vector-line-div ld-none">
            </div>
        </div>

        <div class="service-cart">
            <div class="cart-content">
                <img src="public/icons/cms-icon.svg" />
                <h1>Content Management Systems (CMS)</h1>
                <p>Easily manage and update your website content without coding. Our CMS solutions offer flexibility, control, and scalability for any type of site.</p>
            </div>
            <div class="vector-line-div md-none ld-block">
            </div>
        </div>

        <div class="service-cart">
            <div class="cart-content">
                <img src="public/icons/web-icon.svg" />
                <h1>Web Portals</h1>
                <p>Web portals are developed to centralize information, services, and communication in a user-friendly interface.</p>
            </div>
            <div class="vector-line-div">
            </div>
        </div>

        <div class="service-cart">
            <div class="cart-content">
                <img src="public/icons/pwa-icon.svg" />
                <h1>Progressive Web Apps (PWA)</h1>
                <p>We build fast, reliable, and responsive web apps that work seamlessly across all devices, offering native-like performance and offline access.</p>
            </div>
            <div class="vector-line-div sd-none  md-none">
            </div>
        </div>
    </div>
</div>